plugin-node/src/main/scripts/tasks/plan-tasks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- =====================================================================
       plan-tasks.xsd — XML Schema for .agents/plans/plan-{N}-tasks.xml
       Captures the attribute-based format as of plan-23 (PB-274).
       Future migration to element-only format is tracked in PB-275.
       ===================================================================== -->

  <!-- Root element -->
  <xs:element name="plan-tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="MetadataType"/>
        <xs:element name="tasks" type="TasksContainerType"/>
        <xs:element name="project-updates" type="ProjectUpdatesContainerType"/>
      </xs:sequence>
      <xs:attribute name="plan" type="xs:positiveInteger" use="required"/>
      <xs:attribute name="plan-version" type="PlanVersionType" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- plan-version string: e.g. "plan-7-v1", "plan-23-v2" -->
  <xs:simpleType name="PlanVersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="plan-[0-9]+-v[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================================================================
       Metadata
       =================================================================== -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="backlog-issue" type="xs:string"/>
      <xs:element name="status" type="PlanStatusType"/>
      <xs:element name="created" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PlanStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="complete"/>
      <xs:enumeration value="abandoned"/>
      <xs:enumeration value="in-review"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================================================================
       Tasks
       =================================================================== -->
  <xs:complexType name="TasksContainerType">
    <xs:sequence>
      <xs:element name="task" type="TaskType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="commit" type="xs:string"/>
      <xs:element name="created-from" type="xs:string"/>
      <xs:element name="closed-at-version" type="xs:string"/>
      <xs:element name="comments" type="CommentsContainerType"/>
      <xs:element name="deviations" type="DeviationsContainerType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="risk" type="RiskLevelType" use="required"/>
    <xs:attribute name="status" type="TaskStatusType" use="required"/>
  </xs:complexType>

  <!-- risk: high | medium | low | "" (empty string for unspecified) -->
  <xs:simpleType name="RiskLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="high"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="low"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TaskStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending"/>
      <xs:enumeration value="in-progress"/>
      <xs:enumeration value="de-risked"/>
      <xs:enumeration value="agent-coded"/>
      <xs:enumeration value="closed"/>
      <xs:enumeration value="needs-triage"/>
      <xs:enumeration value="abandoned"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================================================================
       Comments
       =================================================================== -->
  <xs:complexType name="CommentsContainerType">
    <xs:sequence>
      <xs:element name="comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- comment: text content + timestamp attribute -->
  <xs:complexType name="CommentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ===================================================================
       Deviations
       =================================================================== -->
  <xs:complexType name="DeviationsContainerType">
    <xs:sequence>
      <xs:element name="deviation" type="DeviationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- deviation: text content + type and timestamp attributes -->
  <xs:complexType name="DeviationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="DeviationTypeEnum" use="required"/>
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="DeviationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="minor"/>
      <xs:enumeration value="major"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===================================================================
       Project Updates
       =================================================================== -->
  <xs:complexType name="ProjectUpdatesContainerType">
    <xs:sequence>
      <xs:element name="update" type="UpdateType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- update: text content + timestamp attribute + optional blocked attribute -->
  <xs:complexType name="UpdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
        <xs:attribute name="blocked" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
